*{
  background-color: rgb(236, 231, 231);
  background-image: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  *{
    box-sizing: inherit;
  }
  
}
.header{
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white; /* Keep the header white */
  border-bottom: 1px solid #ddd;
  margin: 16px 12px;
  border-radius: 6px;

}

.logo-image{
  height: 50px;
  margin: 0;
  width: auto;
  padding: 0;
}

.signup-button{
  background-color: green;
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  margin: 0;

}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ensures it takes up remaining space */
  padding: 20px;
}

.form-container {
  background-color: #ffffff;
  padding: 100px 120px;
  border-radius: 8px;
  max-width: 800px;
  width: 100%;
  text-align: center;
}



.signup-form .form-group{
  background-color: #ffffff;
  margin: 0;
  justify-content: space-between;

}

.signup-form label .signup-form input{
  margin: 0;
  padding: 0;
}

.signup-form label{
  display: block;
  color:black;
  font-size: 26px;
  background-color: white;
  text-align: left;
  margin-bottom: 2px;
}

.signup-form input{
  background-color: white;
  padding: 10px;
  width: 100%;
  margin: 00px;
  border: 1px solid #ddd;
  font-size: 16px;

}


.submit-button{
  display: block;
  justify-content: flex-start;
  background-color: green;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 26px;
  margin-bottom: 16px;
}

.submit-button:hover{
  background-color: blue;
}

.forgot-password-link{
  justify-content: flex-end;
  color: blue;
  background-color: white;
}

.forgot-password-link:hover{
  color: red;
}


.horizontal-line{
  background-color: white;
}

.google-link-logo{
  height: auto;
  width: 100px;
}
